/* Navbar.module.css */

.mainBar {
  width: 100%;
}

.navbars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  margin: 0 auto;
  color: black;
  width: 86.8%;
  height: 61px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.logo {
  width: 220px;
  height: 61px;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav_links li {
  cursor: pointer;
}

@media (max-width: 390px) {
  .navbars {
    flex-direction: row; /* Change flex direction to row */
    justify-content: space-between; /* Add this to push the logo and button to opposite ends */
    align-items: center;
    height: auto;
    margin-top: 40px;
    padding-right: 30px;
  }

  .logo {
    width: 187px;
    height: auto;
    margin-bottom: 1rem;
  }

  .toggleButton {
    margin-top: 20px;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
  }

  .nav_links {
    flex-direction: column;
    gap: 10px;
    display: none;
    position: absolute;
    top: 61px;
    right: 0; /* Align the list to the right */
    background-color: white;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .nav_links.active {
    display: flex;
  }
}
