/* Navbar.css */
.mainbar {
  width: 100%;
}

.navbars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  margin: 0 auto;
  color: black;
  width: 86.8%;
  height: 61px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.logo {
  width: 220px;
  height: 61px;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: flex-start;
    height: auto;
    margin-top: 40px;
    padding-right: 30px;
  }

  .logo {
    width: 187px;
    height: auto;
    margin-bottom: 1rem;
  }

  .nav_links {
    flex-direction: column;
    gap: 10px;
    display: none; /* Hide the list by default */
  }

  .nav_links.active {
    display: flex; /* Show the list when active class is applied */
  }

  .toggleButton {
    margin-top: 20px;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
  }
}
