/* Searchbar.module.css */

.container {
  width: 1312px;
  height: 55px;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: space-around;
  gap: 7px;
}

.filterButton {
  background-color: white;
  border: none;
}

.searchButton {
  height: 40px;
  width: 120px;
  background-color: #e63335;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  padding: 0;
}

.textButton {
  border: none;
  background-color: white;
  color: #828282;
  font-size: 20px;
  font-weight: bold;
}

/* Ensure the hover effect for filterButton */
.filterButton:hover,
.textButton:hover {
  cursor: pointer;
  text-decoration: underline; /* Optional: Provide a visual indication of hover */
}

.mobileSearchButton {
  width: 40px;
  height: 40px;
  padding: 0;
}

/* New styles for mobile version within @media query */
@media (max-width: 390px) {
  .container {
    width: 80%;
    justify-content: space-between;
  }

  .filterButton {
    order: 2;
  }

  .textButton {
    display: none;
  }

  .searchButton {
    order: 3;
  }
}
